.header {
    display: flex;
    justify-content: center;
}

body {
    background-color: #CCC;
}

.selections {
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 50px;
    font-size: 10rem;
}

.selection:hover {
    transform: scale(1.3);
}

.results {
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 2rem;
}

.result-score {
    font-size: 1.6rem;
    margin-left: 10px;
    color: rgb(38, 0, 176);
}
